<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil | |<%= nome.userInfo  %> </title>    
</head>
<body>
     <%- include("../partials/header")%> 

    <main>

        <section>

            <!--Div pro banner-->
            <div class= "perfilBanner" style="border: solid 3px black; margin: 50px;">

            </div>

            <br />

            <!--Div pra foto de perfil-->
            <div class= "perfilFoto" style="border: solid 3px black; margin: 60px;">
                
            </div>
            <!--Div do shown-up do perfil feito.-->
            
             <button>Editar Perfil</button>
      
            <br /> 
            
            <!--Div para os tópicos-->
            <div class="perfilTopico">

                <marquee style='color: green;'>Meus tópicos</marquee>

            </div>

            <div class="perfilTopicoDosTopicos">
                
            </div>

                
        </section>

        
    </main>

     <%- include("../partials/header")%> 
</body>
</html>