<footer>
    <div> 
      <h3>
        Título
      </h3>
      <ul class="footer-links">
    
        <li>  <a href="">Home</a> </li>
        <li> <a href=""> Tópicos</a></li>
        <li> <a href=""> Sobre nós</a></li>
        <li> <a href="">Contato</a> </li>
        <li> <a href="">Melhorias</a> </li>
      </ul>
    </div>
    
    
        <div> 
          <textarea cols="38" rows="5" placeholder="Digite a sua mensagem">
                </textarea>
    
        </div>
      </footer>
    