<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401 U</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
  
    <section>
        <h1>401 Não Autorizado! </h1>
            <p>
                Olha, você não tem acesso para acessar esse contéudo. <br /> 
                Logue em sua conta e tente novamente.
            </p>

            <button><a href="#">Home</a></button>
    </section>
    </main>

    <%-include("../partials/footer") %>
</body>
</html>