<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo | | <%= nome.userInfo  %> </title>
</head>
<body>
    
    <%- include("../partials/header")%> 

    <section>
    
    <main>
        <div>
            <img src="" alt="vetor de verificação">
        </div>
        
        <h1>Só um momento...</h1>
        <div>
        <img src="" alt="vetor de autentifição2">
            
        </div>
        <p>
            Verifique seu e-mail, pois enviamos um link para você e assim você <br />
            poderá espalhar suas dúvidas e ajudar o mundo com suas palavras! <br /> 
            (Verifique sua caixa de spam caso não apareça em sua home).
        </p>

        <button>Verifique Depois</button>
    </section>
    </main>

    <%- include("../partials/footer")%> 


</body>
</html>