<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ||  </title>
    <link rel="stylesheet" href="/css/verificacao.css"
</head>
<body>
    
    <%- include("../partials/header")%> 

    <section>
    
    <main>
        <div>
            <img class="verify1" src="/img/registroEVerificacao/undraw_Personal_text_re_vqj3.png" alt="vetor de verificação">
        </div>
        
        <h3>Só um momento...</h3>
        <div>
        <img class="verify2" src="/img/registroEVerificacao/undraw_Team_chat_re_vbq1.png" alt="vetor de autentifição2">
        </div>
        <p id="ropaSans">
            Verifique seu e-mail, pois enviamos um link para você e assim você <br />
            poderá espalhar suas dúvidas e ajudar o mundo com suas palavras! <br /> 
            (Verifique sua caixa de spam caso não apareça em sua home).
        </p>

        <button>Verifique Depois</button>
    </section>
    </main>

    <%- include("../partials/footer")%> 


</body>
</html>