<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | UniCode</title>
    <link rel="stylesheet" href="/css/partials.css">
</head>
<body>

<%- include(./views/partials/header)%> 
<main>
    
    <section>
        <!-- div para cada contato.-->
        <div id="contato">
            <br />
                <h1></h1>
                <br />    
                <p> 

                <img src="/img/leo_contato.png" alt="leo_contato">
                    Descrição: <br />
                    Funções: <br />
                    Envie uma mensagem: <br />
                </p>

            </div>
        </div>
    </section>        
</main>
<%- include(./views/partials/footer)%> 
</body>
</html>
